#div_feld {
    margin-left: 20%;
}

#submit {
    visibility: hidden;
}

.feld {
    width: 100px;
    height: 100px;
}

.schwarz {
    background-color: green;
}

.weiß {
    background-color: white;
}